       .container{
        height: 300px;
        width: 300px;
        padding: 5%;
        margin: 10%;
        border: 2px solid black;
        background-color: rgb(19, 2, 59);
        /* background-image: url(https://www.bing.com/th/id/OIP.o1MelKMxin5GW4-jNjx9qwHaEo?w=221&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);*/
     }
     img{
        height: 300px;
        width: 300px;
        background-size: cover;
        /*background-size: contain*/
        background-position: center;
        background-repeat: no-repeat;
        object-fit: none;

     }
